:root {
    --blue: #1855ff;
    --white: #fff;
    --green: #41e041;
    --red: #ff5b5b;
    --border-radius: 8px;
  }

  button {
      background: none;
      border: none;
      cursor: pointer;
  }

  .card {
    text-align: center;
    color: var(--white);
    margin: auto;
    max-width: 32vw;
    background: linear-gradient(135deg, cornflowerblue 0%, var(--blue) 100%);
    border-radius: var(--border-radius);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  }

  .card:not(.expanded):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgb(0 0 0 / 50%);
  }

  .top-data {
    padding: 36px 25px 0;
  }
  
  .card img {
    width: 75px;
    height: 75px;
    background: var(--white);
    padding: 2px;
    border-radius: 50px;
    margin-bottom: 12px;
  }
    
  .price-container {
    font-size: px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
  .price-container > h4 {
    margin: 8px 8px 0px 8px;
  }
  
  
  .crypto-price span {
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -6px;
    left: 6px;
    padding: 4px;
    border-radius: 4px;
  }
  
  .crypto-price svg {
    margin-right: 4px;
  }
  
  .positive {
    background: var(--green);
    border-radius: 6px;
    padding: 4px;
  }
  
  .negative {
    background: var(--red);
    border-radius: 6px;
    padding: 4px;
  }

  .expanded.card {
    max-width: 32vw;
  }
  
  .expanded .top-data {
    padding: 24px 16px 0px 16px;
  }
  
  .close {
    position: absolute;
    color: var(--white);
    right: 10px;
    top: 10px;
    padding: 5px;
    z-index: 1;
  }

  .newsletter-header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

