:root {
  --paymentFormMarginInset: 10%;
  --widthOfPaynmentFormRows: 80%;
}

.preference-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.header-row > h4 {
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 24px auto 0 auto;
  color: white;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.checkbox > span {
  color: white;
  font-family: "DM Mono";
  font-size: 1.25rem;
  padding: 0px 8px 0 8px;
}

.checkbox > input {
  height: 28px;
  width: 28px;
  appearance: none;
  border: 2px solid var(--colorNeutral);
  border-radius: 4px;
  outline: none;
  background-color: gray;
  cursor: pointer;
  transition-duration: 0.3s;
  animation-name: glow-nav-arrow;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier();
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.checkbox > input:checked {
  border: 1px solid white;
  background: cornflowerblue;
  box-shadow: 0px 0px 4px 4px whitesmoke;
  animation: none;
}

.checkbox > input:active {
  border: 2px solid #34495e;
}

.header-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  min-width: 90%;
}

.navigation-arrow {
  color: white;
  padding: 12px;
  background: cornflowerblue;
  border-radius: 2%;
  transform: translate(0px, 10px);
  box-shadow: 0px 0px 6px 4px white;
  animation-name: glow-nav-arrow;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier();
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes glow-nav-arrow {
  from {
    box-shadow: 0px 0px 1px 2px white;
  }
  to {
    box-shadow: 0px 0px 6px 4px white;
  }
}

.payment-form {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  width: 80%;
}

.card-icon {
  text-align: left;
  display: flex;
  margin: 4px 0 0 12px;
  color: white;
}

.card-number-input {
  width: var(--widthOfPaynmentFormRows);
  border: none;
  display: block;
  border-radius: 4px;
  padding: 8px 0 8px 0;
  margin-left: var(--paymentFormMarginInset);
  margin-top: 2px;
  font-family: "DM Mono";
  letter-spacing: 0.1em;
}

.card-number-input:focus {
  outline: none;
  font-family: "DM Mono";
}

.card-number-input[type="number"]::-webkit-inner-spin-button,
.card-number-input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}

.card-number-container {
  text-align: left;
  margin: 12px 0 0 0;
}

.card-number-container > label {
  font-family: "DM Mono";
  margin-left: var(--paymentFormMarginInset);
  color: white;
}

.expiry-cvc-container {
  display: block;
  border: 1px solid orange;
  margin-top: 8px;
  margin-left: var(--paymentFormMarginInset);
  width: var(--widthOfPaynmentFormRows);
  display: flex;
}

.expiry-container {
  display: inline-block;
  text-align: left;
  flex: 0.5;
}

.cvc-container {
  display: inline-block;
  text-align: left;
  flex: 0.5;
}

input {
  padding: 8px 4px 8px 4px;
  width: 90%;
  font-family: "DM Mono";
  letter-spacing: 0.1em;
}

.expiry-cvc-container > div > label {
  display: block;
  color: white;
  font-family: "DM Mono";
}

.pay-btn-container {
  box-shadow: 1px;
}

.pay-btn {
  width: var(--widthOfPaynmentFormRows);
  /* background: cornflowerblue; */
  background: cornflowerblue;
  padding: 8px;
  margin-top: 18px;
  border-radius: 4px;
  font-size: 1.25em;
  font-family: "DM Mono";
  color: white;
  border: 0px solid white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
