:root {
    --colorPrimary: #ffc2b0;
    --colorSecondary: #fd8b7c;
    --colorAccent: #ffdb8a;
    --colorAccentSecondary: cornflowerblue;
    --colorNeutral: #dfe0df;
    --fontGradient: linear-gradient(var(--colorNeutral), #ffffff);
    --mainFont: "DM Mono";
    --leftContainerInsetMargin: 64px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--colorNeutral);
    border: 2px solid black;
    margin: auto;
}

.app-container {
    display: grid;
    width: 82vw;
    height: 82vh;
    margin: 100px auto 0px auto;
    background: linear-gradient(270deg, var(--colorPrimary) , var(--colorSecondary));
    box-shadow: 1px 1px 16px 4px var(--colorAccentSecondary);
    grid-template-columns: repeat(2, 1fr);
}

h1 {
    font-family: var(--mainFont);
    letter-spacing: 0.03em;
    color: var(--colorNeutral);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 2.5em;
}

.newsletter-header {
    margin: 24px 0px 0px var(--leftContainerInsetMargin);
    text-transform: capitalize;
}

#newsletter-header-fear-greed {
    margin-left: var(--leftContainerInsetMargin);
    font-size: 5em;
    color: white;
}

.mailing-list-form-container > h1:first-child {
    margin: 72px 0 0 var(--leftContainerInsetMargin);
}

#newsletter-subtext {
    margin: 24px 0 0 var(--leftContainerInsetMargin);
    font-family: monospace;
    font-size: 1.25em;
    line-height: 1.4em;
}