:root {
    --colorPrimary: #ffc2b0;
    --colorSecondary: #fd8b7c;
    --colorAccent: #ffdb8a;
    --colorAccentSecondary: cornflowerblue;
    --colorNeutral: #dfe0df;
    --fontGradient: linear-gradient(var(--colorNeutral), #ffffff);
    --mainFont: "DM Mono";
    --leftContainerInsetMargin: 64px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--colorNeutral);
    border: 2px solid black;
    margin: auto;
}

.app-container {
    display: grid;
    width: 80vw;
    height: 80vh;
    margin: 100px auto 0px auto;
    background: linear-gradient(270deg, var(--colorPrimary) , var(--colorSecondary));
    box-shadow: 1px 1px 16px 4px var(--colorAccentSecondary);
    grid-template-columns: repeat(2, 1fr);
}

h1 {
    font-family: var(--mainFont);
    letter-spacing: 0.03em;
    color: var(--colorNeutral);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 2.5em;
}

.newsletter-header {
    margin: 24px 0px 0px var(--leftContainerInsetMargin);
    text-transform: capitalize;
}

#newsletter-header-fear-greed {
    margin-left: var(--leftContainerInsetMargin);
    font-size: 5em;
    color: white;
}

.mailing-list-form-container > h1:first-child {
    margin: 72px 0 0 var(--leftContainerInsetMargin);
    
}

#details-form {
    display: inline-block;
}

#newsletter-subtext {
    margin: 36px 0 0 var(--leftContainerInsetMargin);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 36px;
    letter-spacing: 0.035em;
    font-size: 1.7em;
    line-height: 1.4em;
    color: white;
}


.details-form-container {
    margin: 24px var(--leftContainerInsetMargin) 0 var(--leftContainerInsetMargin);
    padding: 16px 16px 32px 16px;
    text-align: center;
    border: 2px solid blanchedalmond;
    box-shadow: 1px 1px 4px 2px crimson;
}

.input-form-fields {
    padding: 6px 0 12px 0;
    width: 340px;
    background: none;
    border: none;
    font-size: 1.5em;
    border-bottom: 4px solid cornflowerblue;
}

.input-form-fields::placeholder {
    color: white;
    text-align: start;
    font-family: 'DM Mono';
    margin: none;
}

.input-form-fields:focus {
    outline: none;
    font-family: 'DM Mono';
}

.input-form-fields:default {
    font-family: 'DM Mono';
}


label > i {
    color: white
}


.form-element-wrapper {
    display: flex; 
    margin-top: 64px;
    transform: translate(-28px);
}

.label-wrapper {
    width: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-right: 16px;
}

#mobile-label {
    position: relative;
}

.submit-btn {
    width: 15vw;
    height: 4vh;
    border-radius: 24px 24px 24px 24px;
    padding: 8px;
    background: linear-gradient(to left, var(--colorAccentSecondary), linen);
    font-family: "DM Mono";
    font-size: 1rem;
    color: black;
    box-shadow: 1px 1px 1px 1px crimson;
}

.submit-btn-container {
    margin: 36px 0 0 0;
}